{% import "mixins/_adaptive-images.twig" as images %}
{% import "blocks/_modal-video.twig" as modal %}

{{ modal.modalVideo('modal-1', true, 'video/homepage/hero.mp4', 'video/homepage/hero.webm', 'img/homepage/hero/hero-2.jpg') }}

<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__left hero__img media-wrap">
            {{ images.image("img/homepage/hero/hero-1_mob.jpg", "img/homepage/hero/hero-1.jpg", "color brings us together") }}
        </div>
        <div class="hero__right">
            <div class="hero__bg color--1" style="background-color: #FCE147"></div>
            <div class="hero__bg color--2" style="background-color: #E8A8FF"></div>

            {# IF we have an image #}
            {# <div class="hero__img media-wrap"> #}
            {# {{ images.image("", "img/homepage/hero/hero-2.jpg", "color brings us together") }} #}
            {# </div> #}
            {# ENDIF we have an image #}

            {# IF we have a video #}
            <div class="hero__video media-wrap js-media js-hero-media has-fullscreen">

                {# IF video is embed from vimeo #}
                 <div class="plyr__video-embed js-player js-hero-player js-inline-player" data-plyr-provider="vimeo"
                 data-plyr-embed-id="https://vimeo.com/578455099"></div>
                 <button type="button" class="plyr__fullscreen js-fullscreen"  data-modalVideo="modal-1"
                         aria-label="Fullscreen">
                 {{ icons.icon('expand') }}
                 </button>
                {# ENDIF video is embed from vimeo #}

                {# IF video is embed as file #}
{#                <video class="plyr__video js-player js-hero-player js-inline-player" playsinline controls#}
{#                       data-poster="img/homepage/hero/hero-2.jpg">#}
{#                    <source src="video/homepage/hero.mp4" type="video/mp4"/>#}
{#                    <source src="video/homepage/hero.webm" type="video/webm"/>#}
{#                </video>#}
{#                <button type="button" class="plyr__fullscreen js-fullscreen"  data-modalVideo="modal-1"#}
{#                        aria-label="Fullscreen">#}
{#                    {{ icons.icon('expand') }}#}
{#                </button>#}
                {# ENDIF video is embed as file #}

            </div>
            {# ENDIF we have a video #}

        </div>
    </div>
    <div class="hero__marquee marquee">
        <div class="marquee__item">
            {{ titles.title("color brings us together", "hero", "xl", "light", "h1") }}
        </div>
        <div class="marquee__item" aria-hidden="true">
            {{ titles.title("color brings us together", "hero", "xl", "light", "h2") }}
        </div>
        <div class="marquee__item" aria-hidden="true">
            {{ titles.title("color brings us together", "hero", "xl", "light", "h2") }}
        </div>
    </div>
</section>

