{% macro linkLight(name, size, selector, href, target) %}
    <a href="{{ href }}" class="{% if selector%}{{ selector }}__link{% endif%} link-light link-light--{{ size }}"
        target="{{ target }}" {% if target == '_blank' %}rel="nofollow noreferrer"{% endif %}>
        {{ name }}
    </a>
{% endmacro %}
