{% macro linkUnderline(name, size, selector, href, target) %}
    <a href="{{ href }}" class="{% if selector%}{{ selector }}__link{% endif%} link-underline link-underline--{{ size }}"
    target="{{ target }}" {% if target == '_blank' %}rel="nofollow noreferrer"{% endif %}>
        {{ name }}
    </a>
{% endmacro %}
